@page "/"
@inject IRepositorio repositorio

<PageTitle>Proveedores</PageTitle>
<h1>Hello, Proveedores</h1>

<h2>Usando el componente: ListadoProveedores.razor</h2>
<ParentProveedor Proveedores="Proveedores" />
@code {

    public List<Proveedor>? Proveedores { get; set; }

    protected override void OnInitialized()
    {
        Proveedores = repositorio.GetProveedores();
    }
}