@page "/"
@inject IRepositorio repositorio

<PageTitle>Proveedores</PageTitle>
<h1>Hello, Proveedores</h1>

<button @onclick ="LimpiarProveedores">Limpiar proveedores</button>

<ParentProveedor @ref="listadoProveedores" Proveedores="Proveedores" />
@code {

    public List<Proveedor>? Proveedores { get; set; }

    //Haciendo referencia a un Componente
    public ParentProveedor? listadoProveedores;

    protected override void OnInitialized()
    {
        Proveedores = repositorio.GetProveedores();
    }

    private void LimpiarProveedores()
    {
        listadoProveedores!.LimpiarProveedores();
    }
}