<tr>
    <td>@Proveedor.Id</td>
    <td>@Proveedor.Nombre</td>
    <td>@Proveedor.Direccion</td>
    <td><Checkbox @attributes="ParametrosDelCheckbox" /></td>
    @if (MostrarBotones)
    {
        <td><button @onclick="@(()=> EliminarProveedor.InvokeAsync(Proveedor))">Eliminar</button></td>
    }

</tr>

@code {
    [Parameter]
    [EditorRequired]
    public Proveedor Proveedor { get; set; } = null!;
    [Parameter]
    public bool MostrarBotones { get; set; } = false;
    [Parameter]
    public EventCallback<Proveedor> EliminarProveedor { get; set; }

    private Dictionary<string, object> ParametrosDelCheckbox = new Dictionary<string, object>()
    {
        { "checked", "true"},
        { "disabled", "true" }
    };
}
