@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            <CascadingValue Value="@appState">
                @Body
            </CascadingValue>
        </article>
    </main>
</div>

@code {
    //private string Color = "blue";

    AppState appState = new AppState();
}