@inject IJSRuntime js

<div>
    <input type="checkbox" @bind="MostrarBotones" /><span>Mostrar botones</span>
</div>

<div class="container mt-3">
    <InputBusqueda />
    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Habilitado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <ListadoGenerico Listado="Proveedores">
                <HayRegistros>
                    <ChildProveedor Proveedor="context" MostrarBotones="MostrarBotones" EliminarProveedor="EliminarProveedor" />
                </HayRegistros>
            </ListadoGenerico>
        </tbody>
    </table>
</div>


@code {
    [Parameter]
    [EditorRequired]
    //Los parametros siempre deben ser publicos
    public List<Proveedor>? Proveedores { get; set; }
    bool MostrarBotones = false;

    private async Task EliminarProveedor(Proveedor proveedor)
    {
        var confirmado = await js.Confirm($" Desea borrar el proveedor {proveedor.Nombre}?");

        if (confirmado)
        {
            Proveedores!.Remove(proveedor);
        }
    }

    public void LimpiarProveedores()
    {
        if(Proveedores is not null)
        {
            Proveedores.Clear();
        }
    }

}
