<div>
    <input type="checkbox" @bind="MostrarBotones" /><span>Mostrar botones</span>
</div>

<div class="container mt-3">
    <InputBusqueda />
    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Habilitado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <ListadoGenerico Listado="Proveedores">
                <HayRegistros>
                    <ChildProveedor Proveedor="context" MostrarBotones="MostrarBotones" EliminarProveedor="EliminarProveedor" />
                </HayRegistros>
            </ListadoGenerico>

            @*@foreach (var proveedor in Proveedores)
            {
            <ChildProveedor Proveedor="proveedor" MostrarBotones="MostrarBotones" EliminarProveedor="EliminarProveedor" />
            }*@
        </tbody>
    </table>
</div>


@code {
    [Parameter]
    [EditorRequired]
    //Los parametros siempre deben ser publicos
    public List<Proveedor>? Proveedores { get; set; }
    bool MostrarBotones = false;

    private void EliminarProveedor(Proveedor proveedor)
    {
        Proveedores!.Remove(proveedor);
    }
}
