@if (Proveedores is null)
{
    <p>No hay proveedores</p>
}
else if (Proveedores.Count == 0)
{
    <p>Tampoco hay proveedores</p>
}
else
{
    <div>
        <input type="checkbox" @onchange="@(()=> MostrarBotones = !MostrarBotones)" /><span>Mostrar botones</span>
    </div>

    <div class="container mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Habilitado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var proveedor in Proveedores)
                {
                    <ChildProveedor Proveedor="proveedor" MostrarBotones="MostrarBotones" />
                }
            </tbody>
        </table>
    </div>
}

@code {
    [Parameter]
    [EditorRequired]
    //Los parametros siempre deben ser publicos
    public List<Proveedor>? Proveedores { get; set; }
    bool MostrarBotones = false;
}
